* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0 auto;
  text-decoration: none;
  list-style-type: none;
}

header {
  width: 960px;
  background-color: #fff;
  height: 110px;
}

@font-face {
  font-family: 'bryantmedium';
  src: url("bryant-medium-webfont-webfont.eot");
  src: url("bryant-medium-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("bryant-medium-webfont-webfont.woff") format("woff"), url("bryant-medium-webfont-webfont.ttf") format("truetype"), url("bryant-medium-webfont-webfont.svg#bryantmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bryantregular';
  src: url("bryant-regular-webfont-webfont.eot");
  src: url("bryant-regular-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("bryant-regular-webfont-webfont.woff") format("woff"), url("bryant-regular-webfont-webfont.ttf") format("truetype"), url("bryant-regular-webfont-webfont.svg#bryantregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'beautiful_esregular';
  src: url("beautiful-es-webfont-webfont.eot");
  src: url("beautiful-es-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("beautiful-es-webfont-webfont.woff") format("woff"), url("beautiful-es-webfont-webfont.ttf") format("truetype"), url("beautiful-es-webfont-webfont.svg#beautiful_esregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

#logo {
  float: left;
  width: 10%;
}

#logo img {
  width: 150px;
  margin-top: 26px;
}

#container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  background-attachment: fixed;
}

#headercontainer {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  background-attachment: fixed;
  overflow: hidden;
}

#navcontainer {
  width: 100%;
}

a.current {
  width: 80px;
  display: inline-block;
  background-color: #000;
  z-index: 1;
  font-size: 18px;
  font-family: "bryantregular", sans-serif;
  color: #fff;
  padding-top: 58px;
  padding-bottom: 13px;
}

nav {
  float: right;
  text-align: center;
  width: 610px;
  margin: 0px 80px 0px 0px;
  position: absolute;
  left: 50%;
  margin-left: -270px;
  padding-top: 58px;
}

nav li,
nav a {
  display: inline-block;
  font-size: 18px;
  font-family: "bryantregular", sans-serif;
  color: #000;
  width: 80px;
  padding-left: 3px;
  padding-right: 10px;
}

li,
a {
  text-decoration: none;
  list-style-type: none;
}

nav a:active {
  color: #000;
}

#regandlogin {
  position: relative;
  float: left;
  width: 20%;
  margin-left: 78.2%;
  margin-right: 19.8%;
  margin-top: -58px;
  text-align: right;
  z-index: 400;
}

#regandlogin a,
#regandlogin li {
  text-decoration: none;
  list-style-type: none;
  font-family: "bryantmedium", sans-serif;
  color: #000;
  font-size: 13px;
  padding: 0px;
  line-height: 0.1;
  display: block;
}

#regandlogin a:last-child {
  margin-top: 20px;
}

#backgroundcontainer {
  clear: both;
  background: #cbccd5;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #cbccd5), color-stop(51%, white), color-stop(100%, #cbccd5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #cbccd5 0%, white 51%, #cbccd5 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, top left, top right, from(#cbccd5), color-stop(51%, white), to(#cbccd5));
  background: linear-gradient(to right, #cbccd5 0%, white 51%, #cbccd5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cbccd5', endColorstr='#cbccd5',GradientType=1 );
  /* IE6-9 */
  -webkit-background-size: 2800px;
  background-size: 2800px;
  min-height: 620px;
  width: 100%;
  margin-top: -20px;
}

.slider {
  max-width: 960px;
  clear: both;
  overflow: hidden;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -480px;
}

.slider img {
  position: relative;
  top: -30px;
  left: -10px;
  overflow: hidden;
}

#sliderboxcontainer {
  min-width: 960px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.sliderbox {
  width: 80%;
  max-width: 960px;
  min-height: 500px;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  overflow: hidden;
}

#ostukorv:before {
  content: "";
  background: url("img/shadow.png");
  height: 37px;
  width: 220px;
  position: absolute;
  top: -37px;
  left: 50%;
  margin-left: -110px;
  z-index: 0;
}

#ostukorv {
  background-color: #000;
  height: 42px;
  float: right;
  position: relative;
  display: inline-block;
  z-index: 3;
}

#ostukorv h1,
#ostukorv h2,
#ostukorv h3 {
  font-family: "bryantmedium", sans-serif;
  font-weight: lighter;
  font-size: 11.5px;
  color: #fff;
  text-align: center;
  display: inline-block;
  padding: 15px 0px 13px 0px;
}

#ostukorv h1,
#ostukorv h3 {
  text-transform: uppercase;
  margin-left: 7px;
}

#ostukorv h3 {
  color: #db1717;
  margin-right: 0;
  margin-left: 0;
}

#ostukorv h2 {
  font-weight: bolder;
  margin-right: 7px;
}

.sliderboxtext {
  width: 30%;
  float: right;
  text-align: center;
  margin-top: 100px;
}

.sliderboxtext h1 {
  font-family: "bryantmedium", sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 20px;
  color: #db1717;
}

.sliderboxtext h2 {
  font-family: "beautiful_esregular", serif;
  font-weight: lighter;
  color: #000;
  font-size: 20px;
}

.sliderboxtext h3 {
  font-family: "bryantregular", sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 60px;
  color: #db1717;
}

#boxcontainer {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: -20px;
  clear: both;
  background-attachment: fixed;
}

.bx-wrapper img {
  max-width: 550px;
}

.bx-wrapper .bx-prev {
  left: 10px;
  list-style-type: disc;
  background-color: #ccc;
  border-radius: 10px;
}

.box {
  float: left;
  width: 30.5%;
  margin-top: -11%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px 20px 0;
  background: transparent;
  max-height: 95px;
  border-right: 2px solid #fff;
}

.box:last-child {
  border: none;
  width: 31%;
}

.box:first-child {
  padding-left: 0px;
}

#textbox {
  clear: both;
  min-height: 150px;
  width: 40%;
  float: left;
  margin-top: -8px;
}

.box p,
.box h1,
.box h2 {
  font-family: "bryantregular", sans-serif;
  font-weight: lighter;
  color: #000;
  width: 40%;
  float: left;
  margin-top: 2px;
  display: block;
}

.box p {
  font-size: 16px;
  float: left;
  display: block;
  width: 42%;
}

.box h6 {
  font-family: "bryantmedium", sans-serif;
  font-weight: lighter;
  color: #000;
  font-size: 13px;
  float: left;
  width: 50%;
  margin-left: 20px;
  display: block;
}

.box h1 {
  font-size: 55px;
  text-transform: uppercase;
  float: left;
  display: block;
}

.box h2 {
  font-size: 24px;
  color: #db1717;
  float: left;
  display: block;
}

.box h5 {
  font-size: 34px;
  color: #db1717;
  float: right;
  font-family: "bryantregular", sans-serif;
  font-weight: lighter;
  width: 40%;
  float: left;
  margin-top: 10px;
  display: block;
}

.box h4 {
  font-size: 32px;
  color: #db1717;
  float: left;
  font-family: "bryantregular", sans-serif;
  font-weight: lighter;
  color: #db1717;
  width: 40%;
  margin-left: -47px;
  margin-top: 40px;
  display: block;
}

.box img {
  float: left;
  height: 88px;
  margin-left: 20px;
  margin-right: 15px;
  display: block;
}

#footercontainer {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  background-attachment: fixed;
  overflow: hidden;
}

footer {
  clear: both;
  overflow: hidden;
  width: 960px;
  background: white;
  margin-top: 30px;
}

#sponsors {
  float: right;
  text-align: right;
  width: 50%;
}

#sponsors img {
  width: 100%;
  margin-top: -7px;
}

#facebook,
#facebook a,
#facebook li {
  float: left;
  font-family: "bryantmedium", sans-serif;
  font-weight: lighter;
  color: #000;
  font-size: 11px;
  text-decoration: none;
  list-style-type: none;
}

#facebook ul {
  float: left;
  height: 30px;
}

.fb-like {
  width: 85px;
  float: left;
  position: relative;
}

#facebook p {
  margin: 5px 15px 0 5px;
}

#copyright,
#copyright p {
  float: left;
  position: relative;
  left: 1%;
  font-family: "bryantmedium", sans-serif;
  font-weight: lighter;
  color: #000;
  font-size: 11px;
}

#copyright p {
  margin: 5px 0 30px 15px;
}